Source: trio-aiohttp
Maintainer: Matthias Urlichs <matthias@urlichs.de>
Section: python
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 9)
Standards-Version: 3.9.6
Homepage: https://github.com/smurfix/trio-aiohttp

Package: python3-trio-aiohttp
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Helpers for running aiohttp under Trio
 trio-aiohttp
 ============
 .
 Welcome to `trio-aiohttp <https://github.com/smurfix/trio-aiohttp>`__!
 .
 This package contains helpers for running aiohttp under Trio. Specifically,
 this code allows you to run a basic Trio-based web server, including WobSocket
 supprt.
 .
 License: Like trio, trio-asyncio is licensed under both the MIT and Apache licenses.
 .
 .

